@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'poppins', sans-serif;
}



body{
    position: relative;

    height: 100vh;
    width: 100vw;
    background: #202020;

    display: flex;
    justify-content: center;
    align-items: center;
}
body::before{
    content: '';
    position: absolute;
    inset: 0;


    background-image: url('https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    z-index: -1;

    opacity:.3;

}
#main{
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;

    height: 90vh;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 2px solid #202020;
}

#main h1{
    text-align: center;
}

.todoList{
    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow: scroll;
}

button{
    color: #e4e4e4;
    background: #543879;
    padding: 5px;
    border-radius: 10px;

    cursor: pointer;
    transition: .3s;

    opacity: .8;
}
button:hover{
    opacity: 1;
}
button:active{
    background: #2d1e41;
}
.complete{
    background: #21222c;
}
.remove{
    background: transparent;
    color: #202020;
    opacity: 1;
    border: none;
}
.remove i{
    font-size: 1.6em;   
}
.btnArea{
    display: flex;
    align-items: center;
}
.todoForm form{
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 30px;
}

.todoForm form input, select{
    width: 100%;
}

.criarTarefa{
    font-size: 1em;
    width: 50%;
}

.search{
    border: 2px solid #202020;
    padding: 20px;
    border-radius: 20px;
}

.search h2{
    font-size: 1.2em;
}

.inputPesquisar{
    width: 100%;
}